.ac {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 400px;
    padding: 300px;
    background-color: skyblue;
    

}

.aa {
    border-style: solid;

}

.ab {
    border-style: solid;
    width: 100px;
    padding: 200px;
    background-color: white;
}

.container {
    display: flex;
    border-collapse: separate;

}

.ad {
    width: 400px;
    padding-top:100px ;
    background-color: greenyellow;
    border-width: 3px;
    border-style: solid;
    margin-top: -160%;
    margin-left: -155%;

}
#user{
    width: 180px;
    margin-top: 10%;
    padding-top:15px ;
    border-style: solid;
    border-width: 3px;
    background-color: #e6ff9d;
    margin-left: -50%  

}
.button{
    display: inline-block;
    padding: 5px 30px;
    margin: 10px;
    background-color: #e6ff9d;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    margin-left: -10%;
}
.tengah{
    margin-left: 5px;
}
.nn{
    text-decoration: none;
    color: blue;
}
.jj{
    margin-top: 50%;
}
.cc{
    width: 250px;
    height: 650px;
    border-style: solid;
   
}
.cd{
    width: 240px;
    padding-top:50px ;
    background-color: rgba(10, 212, 50, 0.336);
    border-width: 3px;
    border-style: solid;
    margin-left: 1%;
}
.ce{
    display: inline-block;
    padding: 10px 30px;
    margin: 30px;
    background-color: rgba(135, 207, 235, 0.662);
    color: black;
    border-style: solid;
    margin-left: 24%;
}
.cf{
    display: inline-block;
    padding: 10px 41px;
    background-color: rgba(135, 207, 235, 0.662);
    color: black;
    border-style: solid;
    margin-left: 24%;
}
.cg{
    display: inline-block;
    padding: 10px 32px;
    margin: 30px;
    background-color: rgba(135, 207, 235, 0.662);
    color: black;
    border-style: solid;
    margin-left: 24%;
}
.ch{
    display: inline-block;
    padding: 10px 41px;
    background-color: rgba(135, 207, 235, 0.662);
    color: black;
    border-style: solid;
    margin-left: 24%;
}
.ci{
    width: 1250px;
    height: 53px;
    border-style: solid;
    

}
.pp{
    display: flex;
   
}

.b{
    margin-left: 88%;
    align-items: center;
 
 
}
.circle {
    width: 30px;
    height: 30px;
    background-color: skyblue; 
    border-radius: 50%; 
    border-style: solid;
    
}
.d{
    align-items: center;
    display: flex;
    gap: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
  }
  th {
    border: 1px solid black;
    padding: 15px; 
    text-align: center;
    font-size: 16px;
  }
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
.ok{
    display: inline-block;
    padding: 10px 35px;
    margin: 20px;
    background-color: yellow;
    color: black;
    border-style: solid;
    margin-left: -24%;
}
.ow{
    border-style: solid;
    display: flex;
    justify-content: space-between;
    
}